.google-sans-uniquifier {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "GRAD" 0;
}


.lugrasimo-regular {
  font-family: "Lugrasimo", cursive;
  font-weight: 400;
  font-style: normal;
}


body {
        font-family: 'Google Sans';
        font-size: 20px;
        margin: 0;
        background-image: url('Pictures/guitar.JPG');
        background-attachment: fixed;
        background-size: cover;   
        background-position: center;
        background-repeat: no-repeat;
        height: 10vh;
        padding-bottom: 100px;
       
           }

h1 {
        font-family: 'Lugrasimo';
        font-size: 18px;
        padding-bottom: 5px;
        text-decoration: none;
        text-decoration-color: whitesmoke;
        text-decoration-thickness: 1px;
        text-align: center;
        padding-top: 50px;
      }     

h2 {
        font-family: 'Google Sans';
        font-size: 18px;
        text-align: center;
        color: whitesmoke;
}      

h2::after {
  content: "";
  display: block;
  height: 1px;
  background: whitesmoke;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 20px;
}

p {
        font-family: 'Google Sans';
        font-size: 14px;
        color: whitesmoke;
      
        margin-left: 20px;
}

.p1 {
        font-family: 'Google Sans';
        font-size: 15px; 
        color: whitesmoke;
      }


/*.fixed-box { 
      position: absolute;    <!--fixes it to the viewport-->
      top: 0px;                  distance from top 
      left: 0px;                 distance from left 
      width: 1000px;
      height: 30px;
      background-color: rgba(0, 0, 0, 0.623);
      border: 3px double burlywood;
      padding: 15px;
    } */



body, html {
  min-height: 100%;
}


.text-box {
    border: 2px solid whitesmoke;
    padding: 10px;
    margin: 10px;
  }


           * {
  box-sizing: border-box;
}
/* ---------------- BACKGROUND VIDEO ---------------- */

/*
#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;            
}
*/

/* --------------------- IMAGES --------------------- */

img {
  border: 18px solid whitesmoke;
  box-shadow: 0 0 50px gray;
  cursor: pointer;
}

.portrait {
  width: 290px; 
}

.landscape {
  width: 606px;
}

/* Mobile adjustments */
@media (max-width: 768px) {
  .portrait,
  .landscape {
    width: 90%;       /* same width for all images */
    max-width: 90%;   /* ensure no overflow */
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto; /* centers the images */
  }
}

.column {
  float: left;
  width: 16.66%; /* desktop 6 */
  padding-bottom: 5px;
  justify-content: center;
}
.column-landscapepictures {
  float: left;
  width: 33.33%; /* desktop 3 */
  padding-bottom: 5px;
  justify-content: center;
}
@media (max-width: 900px) {
  .column,
  .column-landscapepictures {
    width: 100%;      /* full row */
    float: none;      /* cancel float */
    padding: 0;       /* optional */
  }
} 

/* 
@media (max-width: 0px) {
  .column,
  .column-landscapepictures {
    width: 33.33%;
  }
}  
*/


/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}


figure {
    display: inline-block;  /* lets figures sit side by side */
    margin: 14px;           /* spacing between images */
    text-align: center;     /* centers caption under image */
  }

figcaption {
  color: whitesmoke;
  font-size: 16px;
} 


/* ---------- LIGHTBOX ---------- */

#lightbox {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.9);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 2000;
  cursor: initial;
}

#lightbox img {
  max-width: 90%;
  max-height: 90%;
  border-style: solid;        /* no film border in popup */
  border-color: whitesmoke; 
  
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-left-width: 30px;
  border-right-width: 30px;
  border-radius: 2px;

  box-shadow: 0 0 20px whitesmoke;
  cursor: zoom-out;
}


/* ------------------------ FLOATING MENU / MENU BUTTONS ------------------------ */  

#clock {
  margin-left: auto; /* THIS pushes it to the far right */
  font-family: Google Sans, sans-serif;
  font-size: 1rem;
  color: black;
  background-color: whitesmoke;
  padding: 3px 6px;
}

.floating-menu {
  position: fixed;       /* sticks at top */
  top: 0;
  left: 0;
  right: 0;              /* full width */
  height: 30px;

  background-color: whitesmoke;
  /*backdrop-filter: blur(6px);*/
  z-index: 1000;

  display: flex;         /* arrange children horizontally */
  align-items: center;   /* vertical centering */
  padding: 0 10px;
  gap: 10px;              /* spacing between buttons */
}
.floating-menu .hp-button-menu {
  color: black !important;                     /* text always visible */
  background-color: whitesmoke !important;
  text-decoration: none !important;

  display: inline-block;
  padding: 2px 6px;                            /* fits 25px bar */
  font-family: 'Google Sans', serif;
  font-size: 1rem;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.floating-menu .hp-button-menu:hover {
  color: black !important;
  background-color: rgba(0, 0, 0, 0.25) !important;       /* slightly darker on hover */
}

/* Mobile adjustments */
@media (max-width: 820px) {
  .floating-menu {
    flex-wrap: wrap;      /* buttons wrap if needed */
    height: auto;
    padding: 2px 10px;
  }

  .floating-menu .hp-button-menu {
    font-size: 1rem;
    padding: 2px 4px;
    margin-bottom: 2px;
  }
}


/* ---------------------------- LINKS BUTTONS --------------------------- */

.btn-icon {
  border: none;
  width: 20px;
  height: 20px;
  display: block;
  fill: currentColor;
  flex-shrink: 0;
}


.hp-button {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  
  padding: 3px 20px;
  margin: 10px;
  font-family: 'Google Sans', serif;
  font-size: 1.1rem;
  color: black;
  text-decoration: none;

  border: 2px solid whitesmoke;
  border-radius: 20px;

  background-color: whitesmoke;
  backdrop-filter: blur(20px);

  transition: all 0.5s ease;
}

/* Hover effect (desktop) */
.hp-button:hover {
  color: black;
  background-color: whitesmoke;
}

/* Mobile optimization */
@media (max-width: 480px) {
  .hp-button {
    display: block;
    width: fit-content;
    margin: 10px auto;
    font-size: 1rem;
  }
}


.button-row {
  display: flex;
  gap: 10px;                 /* space between buttons */
  margin: 10px 10px;
  flex-wrap: wrap;           /* allows stacking on mobile */
}

/* Center buttons on mobile */
@media (max-width: 480px) {
  .button-row {
    justify-content: center;
  }
}


/* -------------------- LINKS -------------------- */

/* link text */
      body {
a:link {
  color: whitesmoke;
  background-color: transparent;
  text-decoration: none;
}

/* link that was visited */
a:visited {
  color: whitesmoke;
  background-color: transparent;
  text-decoration: none;
}

/* hover over link */
a:hover {
  color: rgba(255, 255, 255, 0.75);
  background-color: transparent;
  text-decoration: none;
}

/* active link (it's style when clicked) */
a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
           }



/* -------------------------- FOOTER -------------------------- */

/* line separator between body and footer */
footer::before {
    content: "";
    display: block;
    height: 1px;
    background: whitesmoke;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px ;
}
/* gallery page footer */
.about-page footer {
  position: relative;       
  bottom: 0;             
  left: 0;
  right: 0;
  margin-top: 25px;
  background-color: rgba(0, 0, 0, 0.116);
  padding: 10px 0;
  text-align: center;
}

/* standard footer */
footer {
  position: relative;       
  bottom: 0;             
  left: 0;
  right: 0;
  margin-top: 700px;
  background-color: rgba(0, 0, 0, 0.116);
  padding: 10px 0;
  text-align: center;
}


